body {
    background-image: url(rockschool.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
}

div {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 60px;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.info {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

button {
    background-color: black;
    color: white;
    border: 2px solid red;
    padding: 5px 12px;
    cursor: pointer;
}